.image-gallery {
  max-width: 100%;
  overflow-x: auto;

  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-items: start;
  gap: 1rem;

  scroll-snap-type: x mandatory;
}

.image-gallery div {
  scroll-snap-align: center;
}

.image-gallery div img {
  min-width: 480px;
  min-height: 360px;
  object-fit: cover;
  object-position: center;
  border-radius: 0.25rem;
}

.image-gallery div:last-child {
  font-size: 1rem;
  line-height: normal;
}
